body {
  background-color: #1B1B20;
  font-family: Caslon\ 540 BT;
  -webkit-font-smoothing: antialiased;
  padding-top: 600px;
}

.main_text {
  position: absolute;
  left: -moz-calc(50% - (235px));
  left: -webkit-calc(50% - (235px));
  left: calc(50% - (235px));
  top: -moz-calc(50% - (66px));
  top: -webkit-calc(50% - (66px));
  top: calc(50% - (66px));
  font-size: 56px;
  width: 470px;
  overflow: hidden;
  padding: 0px 0px;
  line-height: 20px;
  color: white;
  z-index: 9999;
}

.main_text p {
  position: relative;
}

img:hover {
  filter: inherit;
}

img {
  max-width: 250px;
}

.blocks {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.book {
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  cursor: pointer;
  left: 38%;
  top: 35%;
}

.books {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.inner {
  transition: all 0.5s linear;
}

#book1 {
  animation-name: spin1;
  z-index: 12;
  animation-duration: 192235ms;
}

#book1 img {
  filter: blur(1.2px);
  transform: rotateX(-10.3288deg) rotateY(45.9511deg);
}

#book1 img:hover {
  filter: none;
}

#book2 {
  animation-name: spin2;
  z-index: 11;
  animation-duration: 112235ms;
}

#book2 img {
  filter: blur(1.2px);
  transform: rotateX(30.3288deg) rotateY(46.9511deg);
}

#book2 img:hover {
  filter: none;
}

#book3 {
  animation-name: spin3;
  z-index: 10;
  animation-duration: 250s;
}

#book3 img {
  filter: blur(1px);
  transform: rotateX(10.3288deg) rotateY(26.9511deg);
}

#book3 img:hover {
  filter: none;
}

#book4 {
  animation-name: spin4;
  animation-delay: -1.5s;
  z-index: 9;
  animation-duration: 200s;
}

#book4 img {
  filter: blur(1px);
  transform: rotateX(12.3288deg) rotateY(31.9511deg);
}

#book4 img:hover {
  filter: none;
}

#book5 {
  position: absolute;
  animation-name: spin5;
  animation-delay: -1.5s;
  z-index: 8;
  animation-duration: 800s;
}

#book5 img {
  filter: blur(1px);
  transform: rotateX(10.3288deg) rotateY(26.9511deg);
}

#book5 img:hover {
  filter: none;
}

#book6 {
  position: absolute;
  animation-name: spin6;
  z-index: 7;
  animation-duration: 80s;
}

#book6 img {
  filter: blur(1px);
  transform: rotateX(13.0572deg) rotateY(26.7862deg);
}

#book6 img:hover {
  filter: none;
}

@keyframes spin1 {
  0% {
    transform: rotate(119deg) translateX(269.2px);
  }
  100% {
      transform: rotate(479deg) translateX(269.2px);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(181deg) translateX(307.8px);
  }
  100% {
      transform: rotate(541deg) translateX(307.8px);
  }
}

@keyframes spin3 {
  0% {
    transform: rotate(281deg) translateX(346.40000000000003px);
  }
  100% {
    transform: rotate(641deg) translateX(346.40000000000003px);
  }
}

@keyframes spin4 {
  0% {
    transform: rotate(381deg) translateX(384.00000000000006px);
  }
  100% {
    transform: rotate(741deg) translateX(384.00000000000006px);
  }
}

@keyframes spin5 {
  0% {
    transform: rotate(-360deg) translateX(422.6000000000001px);
  }
  100% {
    transform: rotate(0deg) translateX(422.6000000000001px);
  }
}

@keyframes spin6 {
  0% {
    transform: rotate(-360deg) translateX(461.2000000000001px);
  }
  100% {
    transform: rotate(0deg) translateX(461.2000000000001px);
  }
}
